In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('data/movies.sqlite')
db = conn.cursor()
#db.execute("YOUR SQL QUERY")
#rows = db.fetchall()
#print(rows)

In [ ]:
directors_count(db)

In [ ]:
directors_list(db)

In [ ]:
love_movies(db)

In [ ]:
directors_named_like_count(db, 'Aamir Khan')

In [ ]:
movies_longer_than(db, 180)

In [ ]:
def directors_count(db):
    # return the number of directors contained in the database

    query = """
        SELECT COUNT(*)
        FROM directors
    """
    db.execute(query)
    count = db.fetchone()
    return count[0]

In [ ]:
def directors_list(db):
    # return the list of all the directors sorted in alphabetical order

    query = """
        SELECT name
        FROM directors
        ORDER BY name
    """
    db.execute(query)
    directors = db.fetchall()
    return [director[0] for director in directors]

In [ ]:
def love_movies(db):
    # return the list of all movies which contain the exact word "love"
    # in their title, sorted in alphabetical order

    query = """
        SELECT title
        FROM movies
        WHERE UPPER(title) LIKE '% LOVE %'
        OR UPPER(title) LIKE 'LOVE %'
        OR UPPER(title) LIKE '% LOVE'
        OR UPPER(title) LIKE 'LOVE'
        OR UPPER(title) LIKE '% LOVE''%'
        OR UPPER(title) LIKE '% LOVE.'
        OR UPPER(title) LIKE 'LOVE,%'
        ORDER BY title
    """

    # PostgreSQL database provide functions and operators to deal with
    # Regex https://www.postgresql.org/docs/9.3/functions-matching.html
    # Below is proposed a PostgreSQL solution:
    # SELECT title
    # FROM movies
    # WHERE title ~* '\mlove\M'
    # ORDER BY title

    db.execute(query)
    movies = db.fetchall()
    return [movie[0] for movie in movies]

In [ ]:
def directors_named_like_count(db, name):
    # return the number of directors which contain a given word in their name

    query = """
        SELECT COUNT(*)
        FROM directors
        WHERE name LIKE ?
    """
    db.execute(query, (f"%{name}%",))
    count = db.fetchone()
    return count[0]

In [ ]:
def movies_longer_than(db, min_length):
    # return this list of all movies which are longer than a given duration,
    # sorted in the alphabetical order

    query = """
        SELECT title
        FROM movies
        WHERE minutes > ?
        ORDER BY title
    """
    db.execute(query, (min_length,))
    movies = db.fetchall()
    return [movie[0] for movie in movies]